# Winning Jeopardy

Jeopardy is a popular TV show in the US where participants answer questions to win money. Let's say we want to compete on Jeopardy, and we're looking for any edge we can get to win. In this project we will figure out some patterns in the questions that could help us win.

At first we import dataset which contains around 200000 rows of Jeopardy questions from it's beginning from CSV file.

In [3]:
import pandas as pd

# import dataset from file
jeopardy = pd.read_csv('JEOPARDY_CSV.csv')

# show first 5 rows of dataset
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

Some of dataset column names have spaces in front of their column names. Let's delete them.

In [4]:
# assign column names with deleted spaces to variable
jeopardy_columns = jeopardy.columns.str.replace(' ', '')
# assign variable's values to column names back
jeopardy.columns = jeopardy_columns
jeopardy.columns

Index(['ShowNumber', 'AirDate', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

We also convert *Value* column to integer value.

In [5]:
# show all unique values for Value column
print(jeopardy['Value'].unique())

# delete '$' and ',' symbol and None value from Value column
jeopardy['Value'] = jeopardy['Value'].str.replace('$', '')
jeopardy['Value'] = jeopardy['Value'].str.replace(',', '')
jeopardy['Value'] = jeopardy['Value'].str.replace('None', '0')

# convert Value column type to int
jeopardy['Value'] = jeopardy['Value'].astype(int)

jeopardy.rename({'Value': 'Value, $'}, axis=1, inplace=True)

['$200' '$400' '$600' '$800' '$2,000' '$1000' '$1200' '$1600' '$2000'
 '$3,200' 'None' '$5,000' '$100' '$300' '$500' '$1,000' '$1,500' '$1,200'
 '$4,800' '$1,800' '$1,100' '$2,200' '$3,400' '$3,000' '$4,000' '$1,600'
 '$6,800' '$1,900' '$3,100' '$700' '$1,400' '$2,800' '$8,000' '$6,000'
 '$2,400' '$12,000' '$3,800' '$2,500' '$6,200' '$10,000' '$7,000' '$1,492'
 '$7,400' '$1,300' '$7,200' '$2,600' '$3,300' '$5,400' '$4,500' '$2,100'
 '$900' '$3,600' '$2,127' '$367' '$4,400' '$3,500' '$2,900' '$3,900'
 '$4,100' '$4,600' '$10,800' '$2,300' '$5,600' '$1,111' '$8,200' '$5,800'
 '$750' '$7,500' '$1,700' '$9,000' '$6,100' '$1,020' '$4,700' '$2,021'
 '$5,200' '$3,389' '$4,200' '$5' '$2,001' '$1,263' '$4,637' '$3,201'
 '$6,600' '$3,700' '$2,990' '$5,500' '$14,000' '$2,700' '$6,400' '$350'
 '$8,600' '$6,300' '$250' '$3,989' '$8,917' '$9,500' '$1,246' '$6,435'
 '$8,800' '$2,222' '$2,746' '$10,400' '$7,600' '$6,700' '$5,100' '$13,200'
 '$4,300' '$1,407' '$12,400' '$5,401' '$7,800' '$1,183' '$1,203' '$13,000'
 '$11,600' '$14,200' '$1,809' '$8,400' '$8,700' '$11,000' '$5,201'
 '$1,801' '$3,499' '$5,700' '$601' '$4,008' '$50' '$2,344' '$2,811'
 '$18,000' '$1,777' '$3,599' '$9,800' '$796' '$3,150' '$20' '$1,810' '$22'
 '$9,200' '$1,512' '$8,500' '$585' '$1,534' '$13,800' '$5,001' '$4,238'
 '$16,400' '$1,347' '$2547' '$11,200']

We also convert *AirDate* column values from str to date type.

In [6]:
# convert to datetime
jeopardy['AirDate'] = pd.to_datetime(jeopardy['AirDate'])

# show information about Jeopardy dataframe columns and their types 
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
ShowNumber    216930 non-null int64
AirDate       216930 non-null datetime64[ns]
Round         216930 non-null object
Category      216930 non-null object
Value, $      216930 non-null int64
Question      216930 non-null object
Answer        216928 non-null object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 11.6+ MB

Now we normalize all questions it *Question* and *Answer* columns. To do that we write a function which will convert all word in string to lowercase and delete all punctuation symbols. Then we apply that function to *Question* and *Answer* columns.

In [7]:
import re

# define function which brings letter case of string to lower and delete all punctuation symbols 
def normalize(value):
    value = value.lower()
    return re.sub('[^a-z0-9\s\-]', '', value)
    
# apply function to Question column, assing result to new column Clean Question
jeopardy['Clean Question'] = jeopardy['Question'].apply(normalize)

# apply function to Answer column, assing result to new column Clean Answer
jeopardy['Clean Answer'] = jeopardy['Answer'].astype(str).apply(normalize)

# show first five rows of dataset
jeopardy.head()

,ShowNumber,AirDate,Round,Category,"Value, $",Question,Answer,Clean Question,Clean Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams


Now we write a function which helps to figure out:

* How often the answer is deducible from the question.
* How often new questions are repeats of older questions.

# Answers in questions

In [8]:
def count_matches(row):
    # variable which counts word matches in answer and question
    match_count = 0
    # split answer and question in a word lists for more convinient count
    split_question = row['Clean Question'].split(' ')
    split_answer = row['Clean Answer'].split(' ')
    # delete from answer word 'the' as the most common
    if 'the' in split_answer:
        split_answer.remove('the')
    # if answer length is 0 - return 0 to prevent zero division
    if len(split_answer) == 0:
        return 0
    # else count word matches
    for word in split_answer:
        if word in split_question:
            match_count += 1
    # divide number of matches by len of answer, return the result
    return match_count/len(split_answer)

# apply the function to new column Answer in Question
jeopardy['Answer in Question'] = jeopardy.apply(count_matches, axis=1)

# find a mean of Answer in Question column
jeopardy['Answer in Question'].mean()

0.05931971014221584

Mean value for *Answer in Question* column is around 0.06. That means that vast majority of questions doesn't contain an answer in themselfs. That also means that we can't win the Jeopardy by looking for answer in question. We have to study.

Now we want to answer how often new answers repeat the old ones. To do that we sort the dataset according to *Air Date* column dates from older to newer than write function which counts how often new questions repeat the old ones and apply that function to the entire dataset.

# Questions overlap

In [9]:
# sort dataset by date from earliest to latest
jeopardy = jeopardy.sort_values('AirDate')
# set for storing words from answers
terms_used = set()

def count_repeats(row):
    # variable which counts word repeats in answer
    repeat_count = 0
    # split answer in a word lists for more convinient count
    split_question = row['Clean Question'].split(' ')
    # delete from list any word which length less than 6 
    split_question = [word for word in split_question if len(word) > 5]
    # count question word repeats
    for word in split_question:
        if word in terms_used:
            repeat_count += 1
        terms_used.add(word)
    # divide number of repeats by length of question and add it to list
    if len(split_question) > 0:
        repeat_count /= len(split_question)
    return repeat_count

jeopardy['Questions Overlap'] = jeopardy.apply(count_repeats, axis=1)
jeopardy['Questions Overlap'].mean()

0.8713278428096588

As we can see, of 87% words in average question was used before. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

We also find that *terms_used* set of words in questions has a strange words like *hrefhttpwwwj-archivecommedia*, etc. Let's delete these words from set.

In [10]:
for term in list(terms_used):
    if 'hrefhttpwwwj-archivecommedia' in term:
        terms_used.remove(term)

Now we want to know if there are words which can be met in high value questions more often, than words with low value. Let's figure this out. At first we write a function that will determine which question has high value ($800 and more).

In [11]:
def high_value(value):
    if value > 800:
        return 1
    else:
        return 0
    
jeopardy['High Value'] = jeopardy['Value, $'].apply(high_value)
jeopardy.head()

,ShowNumber,AirDate,Round,Category,"Value, $",Question,Answer,Clean Question,Clean Answer,Answer in Question,Questions Overlap,High Value
84523,1,1984-09-10,Jeopardy!,LAKES & RIVERS,100,River mentioned most often in the Bible,the Jordan,river mentioned most often in the bible,the jordan,0.000000,0.0,0
84565,1,1984-09-10,Double Jeopardy!,THE BIBLE,1000,"According to 1st Timothy, it is the ""root of a...",the love of money,according to 1st timothy it is the root of all...,the love of money,0.333333,0.0,1
84566,1,1984-09-10,Double Jeopardy!,'50'S TV,1000,Name under which experimenter Don Herbert taug...,Mr. Wizard,name under which experimenter don herbert taug...,mr wizard,0.000000,0.0,1
84567,1,1984-09-10,Double Jeopardy!,NATIONAL LANDMARKS,1000,D.C. building shaken by November '83 bomb blast,the Capitol,dc building shaken by november 83 bomb blast,the capitol,0.000000,0.0,1
84568,1,1984-09-10,Double Jeopardy!,NOTORIOUS,1000,"After the deed, he leaped to the stage shoutin...",John Wilkes Booth,after the deed he leaped to the stage shouting...,john wilkes booth,0.000000,0.0,1

Then we write a function which counts number of high and low question in which one or another word could be met. Counting frequencies for each word is an extremely huge task, so at first we count for first 10 of them.

In [12]:
comparsion_dict = {k:[0, 0] for k in list(terms_used)[:20]}

def count_high_low_value(row):
    # split answer in a word lists for more convinient count
    split_question = row['Clean Question'].split(' ')
    # count question word repeats
    for word in comparsion_dict.keys():
        if word in split_question:
            if row['High Value'] == 1:
                comparsion_dict[word][0] += 1
            else:
                comparsion_dict[word][1] += 1

jeopardy.apply(count_high_low_value, axis=1)
comparsion_dict

{'imogen': [1, 1],
 'tandoori': [2, 0],
 'belden': [0, 1],
 'observatories': [0, 3],
 'benefitted': [0, 1],
 'sunniland': [0, 1],
 'imovie': [0, 1],
 'lagomorphs': [1, 0],
 'aspirating': [0, 1],
 'poseidons': [0, 2],
 '72-page': [0, 1],
 'whistled': [0, 2],
 'schillings': [1, 3],
 'rickys': [0, 7],
 'rheydt': [0, 1],
 'factorya': [3, 6],
 '3rd-largest': [1, 2],
 'knapping': [1, 0],
 'austrias': [1, 9],
 'packing': [1, 12]}

Now we count the number of high and low value words in dataset and use these values for chisquared test.

In [13]:
high_value_count = jeopardy.loc[jeopardy['High Value'] == 1].shape[0]
low_value_count = jeopardy[jeopardy['High Value'] == 0].shape[0]
print(high_value_count)
print(low_value_count)

61422
155508

It's time for chi-square testing. We will use values from our high/low value frequency dictionary and number of high and low words in dataset to build sets of observed and expected frequencies for each word in our dictionary and then we count chi-square values for each of them.

In [14]:
from scipy.stats import chisquare
import numpy as np

chi_squared = list()

# for every key in dict
for key in comparsion_dict.keys():
    # count sum of each dict element
    total = sum(comparsion_dict[key])
    total_prop = total / jeopardy.shape[0]
    # count expected high and low values for each word
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    # count observed high and low values for each word
    observed = np.array([comparsion_dict[key][0], comparsion_dict[key][1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.46338644448358013, pvalue=0.49604555208958945),
 Power_divergenceResult(statistic=5.063592849467617, pvalue=0.02443353405878706),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=1.184929392700054, pvalue=0.27635474913315955),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=2.5317964247338085, pvalue=0.11157312838169751),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.7899529284667026, pvalue=0.3741143592744989),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.7899529284667026, pvalue=0.3741143592744989),
 Power_divergenceResult(statistic=0.021646150708492677, pvalue=0.8830323245068887),
 Power_divergenceResult(statistic=2.764835249633459, pvalue=0.09635660666834395),
 Power_divergenceResult(statistic=0.3949764642333513, pvalue=0.5296950912486695),
 Power_divergenceResult(statistic=0.1117022816672141, pvalue=0.7382143734273121),
 Power_divergenceResult(statistic=0.03723409388907139, pvalue=0.846989214486915),
 Power_divergenceResult(statistic=2.5317964247338085, pvalue=0.11157312838169751),
 Power_divergenceResult(statistic=1.6524890027635268, pvalue=0.1986205028039217),
 Power_divergenceResult(statistic=2.7237236364874153, pvalue=0.09886712832837778)]

# Chi-squared results

Some of the terms had a significant difference in usage between high value and low value rows, but only some. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.

Then we make a dictionary of popular words with frequencies more than 1000, where key is word, first value is total frequeuncy of that word in dataset, second value is frequency of that word in high value questions, third value is a frequency of that word in high value questions.

# Count high and low value frequencies for popular terms

In [25]:
freq_dict = dict()

def count_terms_freq(row):
    # split answer in a word lists for more convinient count
    split_question = row['Clean Question'].split(' ')
    # delete from list any word which length less than 6 
    split_question = [word for word in split_question if len(word) > 5]
    # count question word repeats
    for word in split_question:
        # for each word in row count it's frequency and frequency of it's high and low values
        if word in freq_dict:
            freq_dict[word][0] += 1
        else:
            freq_dict[word] = [1, 0, 0]
        if row['High Value'] == 1:
            freq_dict[word][1] += 1
        else:
            freq_dict[word][2] += 1

jeopardy.apply(count_terms_freq, axis=1)

popular_terms = {k: v for k, v in sorted(freq_dict.items(), key=lambda item: item[1].copy(), reverse=True) if v[0] > 1000}.copy()
popular_terms

{'called': [5461, 1712, 3749],
 'country': [4868, 1391, 3477],
 'became': [3162, 915, 2247],
 'played': [3011, 773, 2238],
 'president': [3010, 845, 2165],
 'before': [2909, 787, 2122],
 'american': [2837, 925, 1912],
 'capital': [2772, 803, 1969],
 'famous': [2497, 721, 1776],
 'french': [2488, 943, 1545],
 'targetblankherea': [2469, 1065, 1404],
 'island': [2445, 771, 1674],
 'people': [2224, 603, 1621],
 'during': [2000, 563, 1437],
 'national': [1976, 571, 1405],
 'british': [1947, 657, 1290],
 'largest': [1943, 481, 1462],
 'century': [1820, 642, 1178],
 'little': [1812, 480, 1332],
 'company': [1798, 498, 1300],
 'around': [1797, 530, 1267],
 'character': [1755, 510, 1245],
 'author': [1692, 644, 1048],
 'between': [1668, 540, 1128],
 'targetblankthisa': [1623, 790, 833],
 'series': [1619, 399, 1220],
 'meaning': [1570, 580, 990],
 'family': [1537, 482, 1055],
 'founded': [1486, 482, 1004],
 'include': [1409, 360, 1049],
 'states': [1375, 366, 1009],
 'number': [1316, 330, 986],
 'million': [1308, 334, 974],
 'musical': [1307, 413, 894],
 'school': [1298, 396, 902],
 'popular': [1286, 341, 945],
 'english': [1279, 424, 855],
 'museum': [1270, 336, 934],
 'because': [1269, 365, 904],
 'classic': [1259, 334, 925],
 'through': [1239, 378, 861],
 'reports': [1235, 539, 696],
 'university': [1213, 365, 848],
 'countrys': [1135, 259, 876],
 'george': [1129, 336, 793],
 'person': [1095, 275, 820],
 'father': [1092, 338, 754],
 'german': [1072, 427, 645],
 'created': [1037, 307, 730],
 'leader': [1031, 339, 692],
 'america': [1029, 283, 746],
 'william': [1024, 319, 705],
 'former': [1020, 303, 717],
 'general': [1005, 304, 701],
 'italian': [1004, 423, 581],
 'second': [1004, 296, 708]}

It's time to repeat our sci-square calculations for list of popular words.

# Repeat chi-square test for popular words

In [26]:
popular_terms_chisq = popular_terms.copy()

# for every key in dict
for key in popular_terms_chisq.keys():
    # count sum of each dict element
    total = sum(popular_terms_chisq[key][1:])
    total_prop = total / jeopardy.shape[0]
    # count expected high and low values for each word
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    # count observed high and low values for each word
    observed = np.array([popular_terms_chisq[key][1], popular_terms_chisq[key][2]])
    expected = np.array([high_value_exp, low_value_exp])
    popular_terms_chisq[key].append(round(chisquare(observed, expected)[0], 3))
    popular_terms_chisq[key].append(chisquare(observed, expected)[1])

popular_terms

{'called': [5461, 1712, 3749, 24.789, 6.396502041100799e-07],
 'country': [4868, 1391, 3477, 0.162, 0.6870214064786846],
 'became': [3162, 915, 2247, 0.605, 0.4366797022481044],
 'played': [3011, 773, 2238, 10.352, 0.0012932490489544497],
 'president': [3010, 845, 2165, 0.086, 0.7690485090028965],
 'before': [2909, 787, 2122, 2.276, 0.13137471169049217],
 'american': [2837, 925, 1912, 25.732, 3.9230643888072246e-07],
 'capital': [2772, 803, 1969, 0.584, 0.44466144233485827],
 'famous': [2497, 721, 1776, 0.386, 0.5341917767705773],
 'french': [2488, 943, 1545, 112.679, 2.536550638160169e-26],
 'targetblankherea': [2469, 1065, 1404, 267.189, 4.650186459218781e-60],
 'island': [2445, 771, 1674, 12.486, 0.00040997773350746024],
 'people': [2224, 603, 1621, 1.58, 0.2087349403944424],
 'during': [2000, 563, 1437, 0.027, 0.8705216675424382],
 'national': [1976, 571, 1405, 0.33, 0.5654288517992552],
 'british': [1947, 657, 1290, 28.283, 1.047921947671791e-07],
 'largest': [1943, 481, 1462, 12.123, 0.0004980320506931184],
 'century': [1820, 642, 1178, 43.443, 4.365391335034222e-11],
 'little': [1812, 480, 1332, 2.971, 0.08479354406781597],
 'company': [1798, 498, 1300, 0.337, 0.5615856949505522],
 'around': [1797, 530, 1267, 1.231, 0.26711730522377386],
 'character': [1755, 510, 1245, 0.481, 0.4881014082237538],
 'author': [1692, 644, 1048, 79.201, 5.611408626881465e-19],
 'between': [1668, 540, 1128, 13.545, 0.000232873067591866],
 'targetblankthisa': [1623, 790, 833, 331.5, 4.530627524279891e-74],
 'series': [1619, 399, 1220, 10.74, 0.0010486421402395613],
 'meaning': [1570, 580, 990, 57.588, 3.2323425443197446e-14],
 'family': [1537, 482, 1055, 7.024, 0.00804283554143223],
 'founded': [1486, 482, 1004, 12.439, 0.00042056476395803166],
 'include': [1409, 360, 1049, 5.304, 0.021276710634246524],
 'states': [1375, 366, 1009, 1.949, 0.1627353968526874],
 'number': [1316, 330, 986, 6.799, 0.009122116228683377],
 'million': [1308, 334, 974, 4.977, 0.02568809922056132],
 'musical': [1307, 413, 894, 6.948, 0.008390015629485085],
 'school': [1298, 396, 902, 3.079, 0.07930636916366753],
 'popular': [1286, 341, 945, 2.048, 0.15241025178218237],
 'english': [1279, 424, 855, 14.741, 0.00012332642188547744],
 'museum': [1270, 336, 934, 2.159, 0.14174797624496738],
 'because': [1269, 365, 904, 0.126, 0.7228065793754511],
 'classic': [1259, 334, 925, 1.977, 0.15972558058188507],
 'through': [1239, 378, 861, 2.939, 0.08645876912673285],
 'reports': [1235, 539, 696, 142.984, 5.9262631355130054e-33],
 'university': [1213, 365, 848, 1.886, 0.1696522784134231],
 'countrys': [1135, 259, 876, 16.884, 3.9743321508823615e-05],
 'george': [1129, 336, 793, 1.164, 0.28062146382077996],
 'person': [1095, 275, 820, 5.524, 0.01875243450222625],
 'father': [1092, 338, 754, 3.744, 0.05298168428556335],
 'german': [1072, 427, 645, 70.065, 5.737360709788552e-17],
 'created': [1037, 307, 730, 0.851, 0.3563371797534375],
 'leader': [1031, 339, 692, 10.592, 0.001135640735471576],
 'america': [1029, 283, 746, 0.334, 0.563267868758309],
 'william': [1024, 319, 705, 4.064, 0.04381226181129773],
 'former': [1020, 303, 717, 0.973, 0.3238615962514762],
 'general': [1005, 304, 701, 1.853, 0.17342761837050785],
 'italian': [1004, 423, 581, 94.437, 2.530559476941658e-22],
 'second': [1004, 296, 708, 0.675, 0.41143187099002176]}

Let's sort values in dictionary according to their chisquare value.

In [27]:
# sort word according to their chi-square value
popular_terms_chisq = {k: v for k, v in sorted(popular_terms_chisq.items(), key=lambda item: item[1][3], reverse=True)}
# delete wrong words
del popular_terms_chisq['targetblankthisa']
del popular_terms_chisq['targetblankherea']

In [28]:
popular_terms_chisq

{'reports': [1235, 539, 696, 142.984, 5.9262631355130054e-33],
 'french': [2488, 943, 1545, 112.679, 2.536550638160169e-26],
 'italian': [1004, 423, 581, 94.437, 2.530559476941658e-22],
 'author': [1692, 644, 1048, 79.201, 5.611408626881465e-19],
 'german': [1072, 427, 645, 70.065, 5.737360709788552e-17],
 'meaning': [1570, 580, 990, 57.588, 3.2323425443197446e-14],
 'century': [1820, 642, 1178, 43.443, 4.365391335034222e-11],
 'british': [1947, 657, 1290, 28.283, 1.047921947671791e-07],
 'american': [2837, 925, 1912, 25.732, 3.9230643888072246e-07],
 'called': [5461, 1712, 3749, 24.789, 6.396502041100799e-07],
 'countrys': [1135, 259, 876, 16.884, 3.9743321508823615e-05],
 'english': [1279, 424, 855, 14.741, 0.00012332642188547744],
 'between': [1668, 540, 1128, 13.545, 0.000232873067591866],
 'island': [2445, 771, 1674, 12.486, 0.00040997773350746024],
 'founded': [1486, 482, 1004, 12.439, 0.00042056476395803166],
 'largest': [1943, 481, 1462, 12.123, 0.0004980320506931184],
 'series': [1619, 399, 1220, 10.74, 0.0010486421402395613],
 'leader': [1031, 339, 692, 10.592, 0.001135640735471576],
 'played': [3011, 773, 2238, 10.352, 0.0012932490489544497],
 'family': [1537, 482, 1055, 7.024, 0.00804283554143223],
 'musical': [1307, 413, 894, 6.948, 0.008390015629485085],
 'number': [1316, 330, 986, 6.799, 0.009122116228683377],
 'person': [1095, 275, 820, 5.524, 0.01875243450222625],
 'include': [1409, 360, 1049, 5.304, 0.021276710634246524],
 'million': [1308, 334, 974, 4.977, 0.02568809922056132],
 'william': [1024, 319, 705, 4.064, 0.04381226181129773],
 'father': [1092, 338, 754, 3.744, 0.05298168428556335],
 'school': [1298, 396, 902, 3.079, 0.07930636916366753],
 'little': [1812, 480, 1332, 2.971, 0.08479354406781597],
 'through': [1239, 378, 861, 2.939, 0.08645876912673285],
 'before': [2909, 787, 2122, 2.276, 0.13137471169049217],
 'museum': [1270, 336, 934, 2.159, 0.14174797624496738],
 'popular': [1286, 341, 945, 2.048, 0.15241025178218237],
 'classic': [1259, 334, 925, 1.977, 0.15972558058188507],
 'states': [1375, 366, 1009, 1.949, 0.1627353968526874],
 'university': [1213, 365, 848, 1.886, 0.1696522784134231],
 'general': [1005, 304, 701, 1.853, 0.17342761837050785],
 'people': [2224, 603, 1621, 1.58, 0.2087349403944424],
 'around': [1797, 530, 1267, 1.231, 0.26711730522377386],
 'george': [1129, 336, 793, 1.164, 0.28062146382077996],
 'former': [1020, 303, 717, 0.973, 0.3238615962514762],
 'created': [1037, 307, 730, 0.851, 0.3563371797534375],
 'second': [1004, 296, 708, 0.675, 0.41143187099002176],
 'became': [3162, 915, 2247, 0.605, 0.4366797022481044],
 'capital': [2772, 803, 1969, 0.584, 0.44466144233485827],
 'character': [1755, 510, 1245, 0.481, 0.4881014082237538],
 'famous': [2497, 721, 1776, 0.386, 0.5341917767705773],
 'company': [1798, 498, 1300, 0.337, 0.5615856949505522],
 'america': [1029, 283, 746, 0.334, 0.563267868758309],
 'national': [1976, 571, 1405, 0.33, 0.5654288517992552],
 'country': [4868, 1391, 3477, 0.162, 0.6870214064786846],
 'because': [1269, 365, 904, 0.126, 0.7228065793754511],
 'president': [3010, 845, 2165, 0.086, 0.7690485090028965],
 'during': [2000, 563, 1437, 0.027, 0.8705216675424382]}

Let's convert this dictionary to dataframe

In [29]:
pd.options.display.max_columns=1000

# make a dataframe from dict and transpose in
popular_terms_df = pd.DataFrame(popular_terms_chisq, index=['Total Frequency', 'High Value Freq', 'Low Value Freq', 'Chi-Square', 'P-value'])
popular_terms_df = popular_terms_df.transpose()

# function for rounding values in dataframe
def round_value(value):
    return round(value, 5)

popular_terms_df['P-value'] = popular_terms_df['P-value'].apply(round_value)
popular_terms_df

,Total Frequency,High Value Freq,Low Value Freq,Chi-Square,P-value
reports,1235.0,539.0,696.0,142.984,0.00000
french,2488.0,943.0,1545.0,112.679,0.00000
italian,1004.0,423.0,581.0,94.437,0.00000
author,1692.0,644.0,1048.0,79.201,0.00000
german,1072.0,427.0,645.0,70.065,0.00000
meaning,1570.0,580.0,990.0,57.588,0.00000
century,1820.0,642.0,1178.0,43.443,0.00000
british,1947.0,657.0,1290.0,28.283,0.00000
american,2837.0,925.0,1912.0,25.732,0.00000
called,5461.0,1712.0,3749.0,24.789,0.00000
countrys,1135.0,259.0,876.0,16.884,0.00004
english,1279.0,424.0,855.0,14.741,0.00012
between,1668.0,540.0,1128.0,13.545,0.00023
island,2445.0,771.0,1674.0,12.486,0.00041
founded,1486.0,482.0,1004.0,12.439,0.00042
largest,1943.0,481.0,1462.0,12.123,0.00050
series,1619.0,399.0,1220.0,10.740,0.00105
leader,1031.0,339.0,692.0,10.592,0.00114
played,3011.0,773.0,2238.0,10.352,0.00129
family,1537.0,482.0,1055.0,7.024,0.00804
musical,1307.0,413.0,894.0,6.948,0.00839
number,1316.0,330.0,986.0,6.799,0.00912
person,1095.0,275.0,820.0,5.524,0.01875
include,1409.0,360.0,1049.0,5.304,0.02128
million,1308.0,334.0,974.0,4.977,0.02569
william,1024.0,319.0,705.0,4.064,0.04381
father,1092.0,338.0,754.0,3.744,0.05298
school,1298.0,396.0,902.0,3.079,0.07931
little,1812.0,480.0,1332.0,2.971,0.08479
through,1239.0,378.0,861.0,2.939,0.08646
before,2909.0,787.0,2122.0,2.276,0.13137
museum,1270.0,336.0,934.0,2.159,0.14175
popular,1286.0,341.0,945.0,2.048,0.15241
classic,1259.0,334.0,925.0,1.977,0.15973
states,1375.0,366.0,1009.0,1.949,0.16274
university,1213.0,365.0,848.0,1.886,0.16965
general,1005.0,304.0,701.0,1.853,0.17343
people,2224.0,603.0,1621.0,1.580,0.20873
around,1797.0,530.0,1267.0,1.231,0.26712
george,1129.0,336.0,793.0,1.164,0.28062
former,1020.0,303.0,717.0,0.973,0.32386
created,1037.0,307.0,730.0,0.851,0.35634
second,1004.0,296.0,708.0,0.675,0.41143
became,3162.0,915.0,2247.0,0.605,0.43668
capital,2772.0,803.0,1969.0,0.584,0.44466
character,1755.0,510.0,1245.0,0.481,0.48810
famous,2497.0,721.0,1776.0,0.386,0.53419
company,1798.0,498.0,1300.0,0.337,0.56159
america,1029.0,283.0,746.0,0.334,0.56327
national,1976.0,571.0,1405.0,0.330,0.56543
country,4868.0,1391.0,3477.0,0.162,0.68702
because,1269.0,365.0,904.0,0.126,0.72281
president,3010.0,845.0,2165.0,0.086,0.76905
during,2000.0,563.0,1437.0,0.027,0.87052

As we can see, some words like *reports*, *french*, *italian*, *author*, etc can be met in high value questions more often than it's expected. 
Let's filter this words thus only words which chi-square value significally higher than p-value left and percent of high value questions is significally high (more than 1/3 of Low Value Questions number).

In [80]:
popular_terms_df.loc[(popular_terms_df['Chi-Square'] > 2*popular_terms_df['P-value']) & 
                     (popular_terms_df['High Value Freq'] > 0.33*popular_terms_df['Low Value Freq'])]

,Total Frequency,High Value Freq,Low Value Freq,Chi-Square,P-value
reports,1235.0,539.0,696.0,142.984,0.00000
french,2488.0,943.0,1545.0,112.679,0.00000
italian,1004.0,423.0,581.0,94.437,0.00000
author,1692.0,644.0,1048.0,79.201,0.00000
german,1072.0,427.0,645.0,70.065,0.00000
meaning,1570.0,580.0,990.0,57.588,0.00000
century,1820.0,642.0,1178.0,43.443,0.00000
british,1947.0,657.0,1290.0,28.283,0.00000
american,2837.0,925.0,1912.0,25.732,0.00000
called,5461.0,1712.0,3749.0,24.789,0.00000
english,1279.0,424.0,855.0,14.741,0.00012
between,1668.0,540.0,1128.0,13.545,0.00023
island,2445.0,771.0,1674.0,12.486,0.00041
founded,1486.0,482.0,1004.0,12.439,0.00042
leader,1031.0,339.0,692.0,10.592,0.00114
played,3011.0,773.0,2238.0,10.352,0.00129
family,1537.0,482.0,1055.0,7.024,0.00804
musical,1307.0,413.0,894.0,6.948,0.00839
number,1316.0,330.0,986.0,6.799,0.00912
person,1095.0,275.0,820.0,5.524,0.01875
include,1409.0,360.0,1049.0,5.304,0.02128
million,1308.0,334.0,974.0,4.977,0.02569
william,1024.0,319.0,705.0,4.064,0.04381
father,1092.0,338.0,754.0,3.744,0.05298
school,1298.0,396.0,902.0,3.079,0.07931
little,1812.0,480.0,1332.0,2.971,0.08479
through,1239.0,378.0,861.0,2.939,0.08646
before,2909.0,787.0,2122.0,2.276,0.13137
museum,1270.0,336.0,934.0,2.159,0.14175
popular,1286.0,341.0,945.0,2.048,0.15241
classic,1259.0,334.0,925.0,1.977,0.15973
states,1375.0,366.0,1009.0,1.949,0.16274
university,1213.0,365.0,848.0,1.886,0.16965
general,1005.0,304.0,701.0,1.853,0.17343
people,2224.0,603.0,1621.0,1.580,0.20873
around,1797.0,530.0,1267.0,1.231,0.26712
george,1129.0,336.0,793.0,1.164,0.28062
former,1020.0,303.0,717.0,0.973,0.32386
created,1037.0,307.0,730.0,0.851,0.35634

As we can see, a lot of popular words with high frequency and high value are related to countries like America, England, German, France, geography, history, education and arts. Let's also look more close on *Category* column of dataset.

In [31]:
jeopardy['Category'].value_counts()[:30]

BEFORE & AFTER             547
SCIENCE                    519
LITERATURE                 496
AMERICAN HISTORY           418
POTPOURRI                  401
WORLD HISTORY              377
WORD ORIGINS               371
COLLEGES & UNIVERSITIES    351
HISTORY                    349
SPORTS                     342
U.S. CITIES                339
WORLD GEOGRAPHY            338
BODIES OF WATER            327
ANIMALS                    324
STATE CAPITALS             314
BUSINESS & INDUSTRY        311
ISLANDS                    301
WORLD CAPITALS             300
U.S. GEOGRAPHY             299
RELIGION                   297
OPERA                      294
SHAKESPEARE                294
LANGUAGES                  284
BALLET                     282
TELEVISION                 281
FICTIONAL CHARACTERS       280
RHYME TIME                 279
PEOPLE                     279
TRANSPORTATION             279
ART & ARTISTS              270
Name: Category, dtype: int64

Our word analysis has confirmed. Geography, history, education and arts are quite popular themes in Jeopardy's questions. Espesially popular America related questions. Well, that's not surprise.

Now let's find the most popular phrases with popular terms.

# Find popular phrases

In [62]:
# dict for storing popular phrases
popular_phrases = dict()

# funciton for finding popular phrases
def find_popular_phrases(row):
    phrase1 = list()
    phrase2 = list()
    split_value = row['Clean Question'].split(' ')
    for key in popular_terms_chisq.keys():
        if key in split_value:
            index = split_value.index(key)
            phrase1 = split_value[index-1: index+1]
            phrase2 = split_value[index: index+2]
    if len(phrase1) > 1:
        phrase1 = ' '.join(phrase1)
        if phrase1 in popular_phrases.keys():
            popular_phrases[phrase1][0] += 1
        else:
            popular_phrases[phrase1] = [1, 0, 0]
        if row['High Value'] == 1:
            popular_phrases[phrase1][1] += 1
        else:
            popular_phrases[phrase1][2] += 1    
    if len(phrase2) > 1:
        phrase2 = ' '.join(phrase2)
        if phrase2 in popular_phrases.keys():
            popular_phrases[phrase2][0] += 1
        else:
            popular_phrases[phrase2] = [1, 0, 0]
        if row['High Value'] == 1:
            popular_phrases[phrase2][1] += 1
        else:
            popular_phrases[phrase2][2] += 1    

jeopardy.apply(find_popular_phrases, axis=1)

# sort popular phrases dictionary according to their popularity
{k: v for k, v in sorted(popular_phrases.items(), key=lambda item: item[1][0], reverse=True)}

{'this country': [2663, 701, 1962],
 'became the': [1153, 314, 839],
 'called the': [755, 228, 527],
 'called this': [706, 262, 444],
 'during the': [668, 181, 487],
 'capital of': [618, 213, 405],
 'the largest': [587, 142, 445],
 'this capital': [577, 147, 430],
 'this countrys': [546, 117, 429],
 'also called': [544, 178, 366],
 'this company': [533, 124, 409],
 'number of': [507, 92, 415],
 'president of': [490, 147, 343],
 'reports from': [487, 216, 271],
 'crew reports': [477, 209, 268],
 'title character': [471, 163, 308],
 'is called': [459, 144, 315],
 'this author': [455, 184, 271],
 'the french': [451, 158, 293],
 'the national': [441, 122, 319],
 'famous for': [411, 113, 298],
 'a famous': [405, 138, 267],
 'this island': [399, 134, 265],
 'this famous': [393, 100, 293],
 'became a': [377, 109, 268],
 'a little': [373, 92, 281],
 'the capital': [372, 124, 248],
 'called a': [363, 113, 250],
 'this states': [359, 82, 277],
 'he became': [342, 115, 227],
 'founded in': [339, 107, 232],
 'french for': [336, 125, 211],
 'this former': [335, 81, 254],
 'author of': [325, 137, 188],
 'the second': [323, 95, 228],
 'the british': [318, 92, 226],
 'this british': [317, 128, 189],
 'university of': [309, 96, 213],
 'this classic': [307, 80, 227],
 'this president': [305, 68, 237],
 'the american': [303, 81, 222],
 'national park': [297, 95, 202],
 'around the': [296, 77, 219],
 'country in': [294, 79, 215],
 'this french': [292, 127, 165],
 'a person': [292, 61, 231],
 'this american': [291, 101, 190],
 'this musical': [288, 77, 211],
 'he played': [282, 69, 213],
 'most famous': [279, 70, 209],
 'played this': [277, 71, 206],
 'because of': [275, 82, 193],
 'this character': [273, 50, 223],
 '19th century': [271, 112, 159],
 'before the': [271, 80, 191],
 'through the': [269, 92, 177],
 'the university': [268, 79, 189],
 'during this': [263, 65, 198],
 'father of': [258, 92, 166],
 'us president': [249, 59, 190],
 'capital city': [249, 74, 175],
 'include the': [249, 60, 189],
 'between the': [247, 80, 167],
 'a popular': [246, 57, 189],
 'played the': [246, 58, 188],
 'word meaning': [244, 99, 145],
 'the number': [213, 40, 173],
 'this largest': [213, 53, 160],
 'the country': [213, 64, 149],
 'vice president': [213, 62, 151],
 'state capital': [209, 51, 158],
 'country is': [208, 54, 154],
 'this italian': [207, 94, 113],
 'this series': [204, 44, 160],
 'played by': [204, 54, 150],
 'meaning to': [203, 75, 128],
 'this german': [203, 89, 114],
 'character in': [202, 69, 133],
 'played a': [201, 58, 143],
 'the father': [200, 70, 130],
 'series of': [200, 60, 140],
 'worlds largest': [190, 43, 147],
 'was founded': [190, 61, 129],
 'during a': [188, 66, 122],
 'before he': [187, 54, 133],
 'museum in': [184, 56, 128],
 'leader of': [182, 70, 112],
 'the famous': [181, 60, 121],
 'the english': [178, 56, 122],
 'a national': [176, 60, 116],
 'high school': [175, 48, 127],
 'she became': [174, 46, 128],
 'person who': [174, 39, 135],
 'this national': [173, 45, 128],
 'the people': [173, 48, 125],
 'these people': [172, 45, 127],
 'united states': [170, 60, 110],
 'because it': [162, 47, 115],
 'the little': [160, 47, 113],
 'as president': [159, 45, 114],
 'the president': [158, 47, 111],
 'was called': [158, 48, 110],
 'years before': [157, 41, 116],
 'museum of': [156, 54, 102],
 'created by': [155, 50, 105],
 'african country': [155, 77, 78],
 'was created': [155, 42, 113],
 'a series': [154, 39, 115],
 'during wwii': [153, 40, 113],
 'are called': [151, 47, 104],
 'capital is': [151, 37, 114],
 'his father': [150, 41, 109],
 'island of': [149, 45, 104],
 'this popular': [149, 33, 116],
 'been called': [147, 34, 113],
 'during his': [147, 41, 106],
 'this english': [146, 54, 92],
 'character of': [146, 55, 91],
 'the family': [146, 41, 105],
 'the island': [145, 46, 99],
 'in america': [144, 35, 109],
 'president in': [142, 36, 106],
 'popular in': [142, 44, 98],
 'american country': [139, 58, 81],
 'south american': [139, 42, 97],
 'south america': [139, 41, 98],
 'of america': [138, 37, 101],
 'a classic': [133, 31, 102],
 'in english': [132, 37, 95],
 'who played': [132, 47, 85],
 'north america': [131, 41, 90],
 'the german': [130, 56, 74],
 'founded by': [130, 41, 89],
 'a french': [129, 53, 76],
 'most popular': [129, 25, 104],
 'created the': [128, 34, 94],
 'island in': [127, 48, 79],
 'it became': [126, 37, 89],
 'people of': [126, 40, 86],
 'this person': [126, 31, 95],
 'created this': [125, 45, 80],
 'an american': [125, 39, 86],
 'called these': [125, 43, 82],
 'this number': [124, 29, 95],
 'the musical': [124, 43, 81],
 'italian for': [123, 51, 72],
 'she played': [122, 25, 97],
 'a former': [122, 48, 74],
 'for president': [121, 41, 80],
 'the classic': [121, 37, 84],
 '20th century': [120, 33, 87],
 'country was': [119, 42, 77],
 'a character': [119, 42, 77],
 'a musical': [117, 40, 77],
 'capital was': [114, 33, 81],
 'this university': [114, 19, 95],
 'people in': [113, 29, 84],
 'a country': [113, 36, 77],
 'people who': [113, 34, 79],
 'before his': [112, 36, 76],
 'university in': [112, 40, 72],
 'first president': [111, 25, 86],
 'became this': [111, 34, 77],
 'a british': [110, 38, 72],
 'a museum': [110, 27, 83],
 'tv series': [108, 25, 83],
 'through this': [108, 19, 89],
 'president was': [108, 31, 77],
 'president to': [106, 21, 85],
 '18th century': [106, 41, 65],
 'adjective meaning': [106, 51, 55],
 'school in': [104, 32, 72],
 'the italian': [103, 40, 63],
 'is famous': [103, 23, 80],
 'world series': [101, 17, 84],
 'be called': [100, 22, 78],
 'country that': [100, 30, 70],
 'created in': [100, 28, 72],
 'this family': [99, 38, 61],
 'called it': [97, 19, 78],
 'largest of': [97, 31, 66],
 'this general': [97, 31, 66],
 'largest city': [96, 24, 72],
 'his famous': [95, 16, 79],
 '16th century': [94, 37, 57],
 'asian country': [94, 32, 62],
 'because he': [92, 22, 70],
 'company that': [92, 29, 63],
 'the person': [92, 25, 67],
 'founded this': [91, 33, 58],
 'sometimes called': [91, 26, 65],
 'character who': [90, 21, 69],
 'founded the': [90, 35, 55],
 'because the': [90, 29, 61],
 'company in': [90, 31, 59],
 'native american': [90, 38, 52],
 'because they': [89, 23, 66],
 '17th century': [89, 36, 53],
 'this school': [88, 24, 64],
 'of people': [87, 20, 67],
 'character is': [87, 23, 64],
 'german for': [86, 47, 39],
 'because its': [86, 25, 61],
 'this leader': [86, 21, 65],
 'family of': [84, 31, 53],
 'was president': [84, 27, 57],
 'country ': [84, 21, 63],
 'during world': [84, 31, 53],
 ' became': [83, 22, 61],
 'country to': [83, 20, 63],
 'european country': [82, 32, 50],
 'capital in': [82, 26, 56],
 'through a': [82, 36, 46],
 'world capital': [82, 18, 64],
 'a second': [81, 24, 57],
 'president ': [80, 16, 64],
 'an island': [80, 28, 52],
 'he called': [80, 17, 63],
 'created a': [80, 27, 53],
 'island is': [80, 25, 55],
 'the museum': [80, 24, 56],
 'school of': [79, 38, 41],
 'this little': [78, 21, 57],
 'between these': [78, 21, 57],
 'the company': [78, 25, 53],
 'a german': [76, 25, 51],
 'president who': [76, 18, 58],
 'before she': [74, 13, 61],
 'became president': [74, 27, 47],
 'before this': [74, 16, 58],
 'an italian': [73, 31, 42],
 'country of': [73, 25, 48],
 'english for': [73, 17, 56],
 'father ': [73, 27, 46],
 'around a': [72, 26, 46],
 'he created': [72, 17, 55],
 'million people': [72, 15, 57],
 'before a': [71, 21, 50],
 'elected president': [71, 19, 52],
 'musical instrument': [71, 19, 52],
 'before becoming': [71, 22, 49],
 'the popular': [70, 20, 50],
 'french word': [70, 26, 44],
 'the states': [70, 27, 43],
 'rhode island': [69, 20, 49],
 'country has': [69, 25, 44],
 'country music': [68, 19, 49],
 'a president': [68, 20, 48],
 'became an': [68, 20, 48],
 'her father': [68, 20, 48],
 'character was': [68, 9, 59],
 'his family': [68, 21, 47],
 'the former': [68, 23, 45],
 'before it': [67, 17, 50],
 'old english': [67, 16, 51],
 'state university': [67, 34, 33],
 'played in': [66, 14, 52],
 'future president': [66, 19, 47],
 'old french': [66, 21, 45],
 'george washington': [65, 15, 50],
 'island nation': [65, 21, 44],
 'who became': [64, 19, 45],
 'include a': [64, 20, 44],
 'was famous': [64, 15, 49],
 'country where': [63, 16, 47],
 'states that': [63, 17, 46],
 'a family': [63, 17, 46],
 'meaning this': [62, 19, 43],
 'author was': [62, 19, 43],
 'company is': [61, 18, 43],
 'phrase meaning': [61, 20, 41],
 '1 million': [60, 17, 43],
 'a company': [60, 18, 42],
 'country whose': [60, 18, 42],
 'called his': [60, 19, 41],
 'century bc': [60, 22, 38],
 'in french': [60, 19, 41],
 'company was': [60, 8, 52],
 'north american': [59, 12, 47],
 'a million': [59, 17, 42],
 'long before': [59, 17, 42],
 'national anthem': [59, 17, 42],
 'around this': [59, 16, 43],
 'played on': [58, 16, 42],
 'its capital': [58, 21, 37],
 'an english': [58, 24, 34],
 'italian city': [58, 22, 36],
 'i played': [58, 18, 40],
 'atomic number': [58, 24, 34],
 'people are': [57, 19, 38],
 'total number': [56, 8, 48],
 'island country': [56, 23, 33],
 'a school': [56, 15, 41],
 'the general': [55, 17, 38],
 'national monument': [55, 17, 38],
 'between 2': [55, 22, 33],
 'his second': [55, 15, 40],
 'musical about': [54, 21, 33],
 'middle english': [54, 14, 40],
 'the character': [54, 12, 42],
 'named because': [54, 16, 38],
 'made famous': [54, 16, 38],
 'words meaning': [54, 27, 27],
 'term meaning': [54, 26, 28],
 'its called': [53, 19, 34],
 'largest island': [53, 13, 40],
 'largest in': [53, 15, 38],
 'former president': [53, 12, 41],
 'french term': [52, 23, 29],
 'during wwi': [52, 17, 35],
 'often called': [51, 11, 40],
 'for little': [51, 15, 36],
 '15th century': [51, 17, 34],
 'company introduced': [51, 6, 45],
 'the author': [51, 19, 32],
 'by william': [51, 21, 30],
 'called for': [51, 14, 37],
 'to america': [50, 9, 41],
 'island group': [50, 19, 31],
 'european capital': [50, 18, 32],
 'musical based': [50, 20, 30],
 'country on': [50, 18, 32],
 'museum devoted': [50, 8, 42],
 'name because': [50, 17, 33],
 'called him': [49, 9, 40],
 'some people': [49, 12, 37],
 '2 states': [49, 10, 39],
 'university is': [49, 12, 37],
 'the leader': [49, 23, 26],
 'broadway musical': [49, 19, 30],
 'country the': [49, 16, 33],
 'was played': [48, 13, 35],
 'he founded': [48, 13, 35],
 'more famous': [48, 23, 25],
 'attorney general': [48, 16, 32],
 'character on': [48, 12, 36],
 'a general': [47, 12, 35],
 'million in': [47, 9, 38],
 'before you': [47, 11, 36],
 'is french': [47, 16, 31],
 'of george': [47, 14, 33],
 'famous one': [47, 14, 33],
 'popular with': [47, 16, 31],
 'this meaning': [47, 17, 30],
 'country with': [46, 17, 29],
 'island ': [46, 11, 35],
 'a number': [46, 13, 33],
 'people to': [46, 17, 29],
 'person is': [46, 8, 38],
 'person in': [46, 8, 38],
 'author ': [45, 18, 27],
 'by george': [45, 18, 27],
 'national league': [45, 10, 35],
 'his country': [45, 16, 29],
 'of american': [45, 17, 28],
 'per second': [45, 15, 30],
 'character seen': [45, 10, 35],
 'school for': [44, 17, 27],
 'that became': [44, 17, 27],
 'us states': [44, 10, 34],
 'national forest': [44, 11, 33],
 'became king': [44, 11, 33],
 'later became': [44, 11, 33],
 'country singer': [44, 10, 34],
 'america in': [44, 15, 29],
 'originally called': [43, 20, 23],
 'leader was': [43, 14, 29],
 'national historic': [43, 8, 35],
 'father was': [42, 10, 32],
 'between a': [42, 16, 26],
 'person to': [42, 13, 29],
 'leader in': [42, 12, 30],
 'family in': [42, 17, 25],
 'meaning a': [42, 21, 21],
 'verb meaning': [42, 15, 27],
 'president is': [41, 14, 27],
 'english word': [41, 16, 25],
 'this father': [41, 10, 31],
 'british prime': [41, 13, 28],
 'largest lake': [40, 13, 27],
 'president he': [40, 11, 29],
 'meaning the': [40, 11, 29],
 'just before': [40, 9, 31],
 'called her': [40, 9, 31],
 'america is': [40, 7, 33],
 'famous by': [40, 10, 30],
 'around in': [39, 9, 30],
 'island was': [39, 12, 27],
 'the school': [39, 15, 24],
 'comes before': [39, 12, 27],
 'national museum': [39, 7, 32],
 'include this': [39, 10, 29],
 'million years': [38, 19, 19],
 'in german': [38, 13, 25],
 'these include': [38, 4, 34],
 'world leader': [38, 9, 29],
 ' george': [38, 12, 26],
 'author wrote': [38, 18, 20],
 'first american': [37, 8, 29],
 'were called': [37, 9, 28],
 'days before': [37, 11, 26],
 'author who': [37, 18, 19],
 'series in': [37, 6, 31],
 'once called': [37, 9, 28],
 'second in': [37, 15, 22],
 'found before': [37, 12, 25],
 'largest country': [36, 4, 32],
 '3 million': [36, 6, 30],
 'many people': [36, 7, 29],
 'in little': [36, 14, 22],
 'company founded': [36, 11, 25],
 '13th century': [36, 10, 26],
 'during an': [36, 11, 25],
 'president clinton': [36, 6, 30],
 'series was': [36, 6, 30],
 'people were': [36, 10, 26],
 'meaning of': [35, 10, 25],
 'national capital': [35, 13, 22],
 'this because': [35, 12, 23],
 'america ': [35, 12, 23],
 'capital ': [35, 14, 21],
 'company to': [35, 10, 25],
 'country from': [35, 5, 30],
 'because this': [35, 10, 25],
 '14th century': [35, 7, 28],
 'called an': [35, 8, 27],
 'a university': [35, 14, 21],
 'family is': [35, 12, 23],
 'this second': [35, 8, 27],
 'number is': [35, 8, 27],
 'before its': [35, 9, 26],
 '2 million': [35, 5, 30],
 'george w': [35, 4, 31],
 'scandinavian country': [34, 8, 26],
 'leader who': [34, 12, 22],
 'has played': [34, 5, 29],
 'little girl': [34, 9, 25],
 'who created': [34, 12, 22],
 'french name': [34, 14, 20],
 'little women': [34, 9, 25],
 'century this': [34, 9, 25],
 'museum ': [34, 10, 24],
 'royal family': [33, 12, 21],
 'only president': [33, 8, 25],
 'played with': [33, 11, 22],
 'company has': [33, 6, 27],
 'became known': [33, 11, 22],
 'its national': [33, 8, 25],
 'america was': [33, 12, 21],
 'first national': [32, 10, 22],
 'of little': [32, 8, 24],
 'president from': [32, 10, 22],
 'during her': [32, 8, 24],
 'called by': [32, 15, 17],
 'musical that': [32, 8, 24],
 'country for': [32, 12, 20],
 'countrys capital': [32, 13, 19],
 'people ': [32, 8, 24],
 'a leader': [32, 9, 23],
 'capital lies': [32, 7, 25],
 'art museum': [32, 8, 24],
 'english king': [32, 14, 18],
 'people on': [32, 11, 21],
 'runs through': [32, 13, 19],
 'before i': [32, 11, 21],
 '10 million': [32, 10, 22],
 'character from': [31, 6, 25],
 'commonly called': [31, 8, 23],
 'company of': [31, 10, 21],
 'in american': [31, 11, 20],
 'countrys national': [31, 9, 22],
 'island off': [31, 10, 21],
 'george ': [31, 6, 25],
 'this museum': [31, 9, 22],
 'american idol': [31, 6, 25],
 'a capital': [30, 12, 18],
 'car company': [30, 7, 23],
 'of french': [30, 14, 16],
 'around with': [30, 6, 24],
 'english ': [30, 7, 23],
 'the series': [30, 10, 20],
 'founded a': [30, 11, 19],
 'american woman': [30, 17, 13],
 'year before': [30, 6, 24],
 'famous in': [30, 12, 18],
 '2 people': [30, 6, 24],
 'family ': [30, 16, 14],
 'law school': [30, 7, 23],
 'flows through': [30, 9, 21],
 'central america': [30, 14, 16],
 'of william': [30, 12, 18],
 'person of': [30, 12, 18],
 'people have': [29, 7, 22],
 'become president': [29, 10, 19],
 'people with': [29, 6, 23],
 'series about': [29, 10, 19],
 'general hospital': [29, 6, 23],
 'who founded': [29, 10, 19],
 'people magazine': [29, 2, 27],
 'president bush': [29, 10, 19],
 'are famous': [29, 6, 23],
 'miss america': [29, 7, 22],
 ' former': [29, 8, 21],
 'family was': [29, 5, 24],
 ' author': [29, 12, 17],
 'created for': [29, 10, 19],
 'national geographic': [29, 12, 17],
 'uk country': [29, 5, 24],
 'from french': [28, 6, 22],
 'before her': [28, 11, 17],
 'caribbean island': [28, 10, 18],
 'general in': [28, 13, 15],
 'in italian': [28, 7, 21],
 'became one': [28, 10, 18],
 'majority leader': [28, 6, 22],
 'famous work': [28, 10, 18],
 'capital to': [28, 5, 23],
 'is popular': [28, 8, 20],
 'famous as': [28, 8, 20],
 'of british': [28, 17, 11],
 'are popular': [28, 4, 24],
 'second of': [28, 12, 16],
 'classic by': [28, 10, 18],
 'played an': [27, 8, 19],
 'now called': [27, 8, 19],
 'million to': [27, 8, 19],
 'general who': [27, 11, 16],
 'states with': [27, 5, 22],
 'latin america': [27, 9, 18],
 'been around': [27, 4, 23],
 ' played': [27, 3, 24],
 'a century': [27, 8, 19],
 ' because': [27, 15, 12],
 'number in': [27, 12, 15],
 'million of': [27, 7, 20],
 'border between': [27, 9, 18],
 'museum is': [27, 4, 23],
 '12th century': [27, 8, 19],
 'million for': [27, 7, 20],
 'george clooney': [27, 8, 19],
 'capital on': [27, 8, 19],
 ' before': [27, 7, 20],
 'company whose': [27, 12, 15],
 'usas largest': [27, 7, 20],
 'her famous': [26, 5, 21],
 'country thats': [26, 5, 21],
 'long island': [26, 7, 19],
 '100 million': [26, 4, 22],
 ' william': [26, 9, 17],
 'million miles': [26, 8, 18],
 'american league': [26, 5, 21],
 'general term': [26, 12, 14],
 'low country': [26, 4, 22],
 'state became': [26, 6, 20],
 'most people': [26, 8, 18],
 'series that': [26, 6, 20],
 'million copies': [26, 5, 21],
 'people from': [26, 8, 18],
 'because i': [26, 6, 20],
 'countrys king': [26, 5, 21],
 'french call': [26, 9, 17],
 'played his': [26, 9, 17],
 'hits include': [26, 4, 22],
 'last president': [25, 4, 21],
 'president born': [25, 5, 20],
 'became part': [25, 7, 18],
 'league school': [25, 9, 16],
 'movie musical': [25, 7, 18],
 'king george': [25, 6, 19],
 'national symbol': [25, 2, 23],
 'of president': [25, 9, 16],
 'the countrys': [25, 6, 19],
 'little house': [25, 4, 21],
 'famous line': [25, 8, 17],
 'boundary between': [25, 7, 18],
 'company makes': [25, 6, 19],
 'school ': [25, 8, 17],
 'university was': [25, 7, 18],
 'capital from': [25, 10, 15],
 'english channel': [25, 9, 16],
 'called one': [25, 10, 15],
 'large island': [25, 12, 13],
 'actor played': [25, 14, 11],
 'little this': [25, 10, 15],
 'what became': [25, 14, 11],
 'second largest': [24, 6, 18],
 'before they': [24, 7, 17],
 'family name': [24, 5, 19],
 'around since': [24, 2, 22],
 'set during': [24, 6, 18],
 'during its': [24, 6, 18],
 'german city': [24, 12, 12],
 'between this': [24, 8, 16],
 'the century': [24, 10, 14],
 'difference between': [24, 6, 18],
 'her second': [24, 4, 20],
 'treasure island': [24, 9, 15],
 'an author': [24, 8, 16],
 'us national': [24, 5, 19],
 'my little': [24, 7, 17],
 'is played': [24, 3, 21],
 '11th century': [24, 8, 16],
 'school was': [24, 14, 10],
 'country star': [24, 11, 13],
 'american capital': [24, 11, 13],
 'main character': [24, 10, 14],
 'country as': [24, 10, 14],
 'its famous': [24, 6, 18],
 'company with': [24, 4, 20],
 'through it': [24, 10, 14],
 'of country': [24, 4, 20],
 'popular name': [23, 8, 15],
 'my father': [23, 7, 16],
 'cross between': [23, 8, 15],
 '15 million': [23, 5, 18],
 'of general': [23, 4, 19],
 'go through': [23, 5, 18],
 'native country': [23, 7, 16],
 'states of': [23, 4, 19],
 'asian capital': [23, 8, 15],
 'german word': [23, 6, 17],
 'before playing': [23, 2, 21],
 'played for': [23, 7, 16],
 'cartoon character': [23, 3, 20],
 'before starring': [23, 2, 21],
 'character has': [23, 11, 12],
 'is second': [23, 10, 13],
 'his company': [23, 9, 14],
 'island to': [23, 8, 15],
 'famous nickname': [23, 7, 16],
 'company began': [23, 5, 18],
 'for people': [23, 7, 16],
 'countrys flag': [23, 6, 17],
 'states is': [22, 5, 17],
 ' little': [22, 6, 16],
 'general ': [22, 6, 16],
 'largest ': [22, 5, 17],
 'american countries': [22, 9, 13],
 'country are': [22, 8, 14],
 'union general': [22, 5, 17],
 'became its': [22, 6, 16],
 'day before': [22, 4, 18],
 'because you': [22, 10, 12],
 'capital has': [22, 7, 15],
 'passes through': [22, 7, 15],
 '6th century': [22, 8, 14],
 'insurance company': [22, 10, 12],
 'american revolution': [22, 6, 16],
 'first person': [22, 4, 18],
 'country include': [22, 4, 18],
 'american to': [22, 6, 16],
 'century french': [22, 13, 9],
 'italian word': [22, 10, 12],
 'became popular': [22, 8, 14],
 'from around': [22, 9, 13],
 ' museum': [22, 5, 17],
 '25 million': [22, 4, 18],
 'museum has': [22, 3, 19],

We have got the most popular phrases, now let's consider only phrases which can be met in questions more than 100 times.

In [63]:
popular_phrases = {k: v for k, v in sorted(popular_phrases.items(), key=lambda item: item[1][0], reverse=True) if v[0] > 100}
len(popular_phrases)

175

We have 175 popular phrases, now let's conduct chi-square test for them.

# Repeat chi-square test for popular phrases

In [64]:
# for every key in dict
for key in popular_phrases.keys():
    # count sum of each dict element
    total = popular_phrases[key][0]
    total_prop = total / jeopardy.shape[0]
    # count expected high and low values for each word
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    # count observed high and low values for each word
    observed = np.array([popular_phrases[key][1], popular_phrases[key][2]])
    expected = np.array([high_value_exp, low_value_exp])
    popular_phrases[key].append(round(chisquare(observed, expected)[0], 3))
    popular_phrases[key].append(chisquare(observed, expected)[1])

popular_phrases

{'this country': [2663, 701, 1962, 5.198, 0.022608977457868256],
 'became the': [1153, 314, 839, 0.664, 0.41526225991297416],
 'called the': [755, 228, 527, 1.321, 0.250420076001116],
 'called this': [706, 262, 444, 26.913, 2.1280133976474355e-07],
 'during the': [668, 181, 487, 0.489, 0.4845719413387545],
 'capital of': [618, 213, 405, 11.523, 0.0006874799310915284],
 'the largest': [587, 142, 445, 4.917, 0.026591600056485795],
 'this capital': [577, 147, 430, 2.289, 0.13029614807707088],
 'this countrys': [546, 117, 429, 12.754, 0.000355269252101658],
 'also called': [544, 178, 366, 5.204, 0.022536662121818936],
 'this company': [533, 124, 409, 6.696, 0.009663029480052597],
 'number of': [507, 92, 415, 25.826, 3.735587341422482e-07],
 'president of': [490, 147, 343, 0.686, 0.4075038686531307],
 'reports from': [487, 216, 271, 61.723, 3.95393346430122e-15],
 'crew reports': [477, 209, 268, 56.47, 5.706241090705872e-14],
 'title character': [471, 163, 308, 9.19, 0.0024338139444057614],
 'is called': [459, 144, 315, 2.115, 0.14584434329269308],
 'this author': [455, 184, 271, 32.958, 9.416331977358654e-09],
 'the french': [451, 158, 293, 10.031, 0.001539053203573937],
 'the national': [441, 122, 319, 0.092, 0.7619748754638834],
 'famous for': [411, 113, 298, 0.136, 0.7120385225394034],
 'a famous': [405, 138, 267, 6.62, 0.010085265840386],
 'this island': [399, 134, 265, 5.459, 0.01946728792958292],
 'this famous': [393, 100, 293, 1.594, 0.20680749984074187],
 'became a': [377, 109, 268, 0.066, 0.7965328663623836],
 'a little': [373, 92, 281, 2.447, 0.11772346645469406],
 'the capital': [372, 124, 248, 4.617, 0.031656048529260544],
 'called a': [363, 113, 250, 1.417, 0.23382211734921476],
 'this states': [359, 82, 277, 5.298, 0.021351076361914367],
 'he became': [342, 115, 227, 4.754, 0.029236136326180096],
 'founded in': [339, 107, 232, 1.763, 0.1842164526153659],
 'french for': [336, 125, 211, 13.078, 0.00029885157983157543],
 'this former': [335, 81, 254, 2.822, 0.09297219817467414],
 'author of': [325, 137, 188, 30.669, 3.060588368956267e-08],
 'the second': [323, 95, 228, 0.192, 0.6615050884253646],
 'the british': [318, 92, 226, 0.06, 0.8071790328787408],
 'this british': [317, 128, 189, 22.732, 1.8628239657141445e-06],
 'university of': [309, 96, 213, 1.154, 0.2826208877471802],
 'this classic': [307, 80, 227, 0.77, 0.3803689085240294],
 'this president': [305, 68, 237, 5.444, 0.01963418991615757],
 'the american': [303, 81, 222, 0.373, 0.5411635674872526],
 'national park': [297, 95, 202, 1.973, 0.1600936431400507],
 'around the': [296, 77, 219, 0.772, 0.3796249040602001],
 'country in': [294, 79, 215, 0.302, 0.582757566071208],
 'this french': [292, 127, 165, 33.146, 8.550007892021136e-09],
 'a person': [292, 61, 231, 7.929, 0.004865921082203592],
 'this american': [291, 101, 190, 5.861, 0.015481366191226894],
 'this musical': [288, 77, 211, 0.353, 0.5522163006553547],
 'he played': [282, 69, 213, 2.055, 0.15168607015991314],
 'most famous': [279, 70, 209, 1.429, 0.23188180591340485],
 'played this': [277, 71, 206, 0.982, 0.3217117513196575],
 'because of': [275, 82, 193, 0.306, 0.5798584440807977],
 'this character': [273, 50, 223, 13.448, 0.00024528108309378134],
 '19th century': [271, 112, 159, 22.613, 1.9808939365548925e-06],
 'before the': [271, 80, 191, 0.194, 0.6594276466961824],
 'through the': [269, 92, 177, 4.592, 0.032114922744432436],
 'the university': [268, 79, 189, 0.179, 0.6724794137269425],
 'during this': [263, 65, 198, 1.679, 0.19509773755286197],
 'father of': [258, 92, 166, 6.857, 0.008829650977702014],
 'us president': [249, 59, 190, 2.618, 0.10567045129805941],
 'capital city': [249, 74, 175, 0.242, 0.6227265481132167],
 'include the': [249, 60, 189, 2.182, 0.13959523775058755],
 'between the': [247, 80, 167, 2.02, 0.15521607687946162],
 'a popular': [246, 57, 189, 3.206, 0.07335317497707408],
 'played the': [246, 58, 188, 2.72, 0.0991254467342591],
 'word meaning': [244, 99, 145, 18.068, 2.1318832728155455e-05],
 'the number': [213, 40, 173, 9.54, 0.0020098781772312116],
 'this largest': [213, 53, 160, 1.236, 0.26629271422445755],
 'the country': [213, 64, 149, 0.315, 0.574583492030748],
 'vice president': [213, 62, 151, 0.066, 0.7970703545456117],
 'state capital': [209, 51, 158, 1.576, 0.209330229418514],
 'country is': [208, 54, 154, 0.567, 0.45136872507515147],
 'this italian': [207, 94, 113, 29.809, 4.7683927144336444e-08],
 'this series': [204, 44, 160, 4.573, 0.032473751198639066],
 'played by': [204, 54, 150, 0.342, 0.558900299229655],
 'meaning to': [203, 75, 128, 7.451, 0.00633845112645312],
 'this german': [203, 89, 114, 24.116, 9.07207870907912e-07],
 'character in': [202, 69, 133, 3.399, 0.0652313647174505],
 'played a': [201, 58, 143, 0.029, 0.8646884346633361],
 'the father': [200, 70, 130, 4.405, 0.03584373413486244],
 'series of': [200, 60, 140, 0.28, 0.5966821179305065],
 'worlds largest': [190, 43, 147, 3.023, 0.08210000131392371],
 'was founded': [190, 61, 129, 1.345, 0.2460914481629653],
 'during a': [188, 66, 122, 4.273, 0.038721184837451184],
 'before he': [187, 54, 133, 0.029, 0.864359283820089],
 'museum in': [184, 56, 128, 0.408, 0.5231636419956589],
 'leader of': [182, 70, 112, 9.233, 0.0023770525949525835],
 'the famous': [181, 60, 121, 2.085, 0.1487885320039515],
 'the english': [178, 56, 122, 0.868, 0.3514483701154233],
 'a national': [176, 60, 116, 2.894, 0.08893299729791006],
 'high school': [175, 48, 127, 0.068, 0.7948268685402446],
 'she became': [174, 46, 128, 0.302, 0.5825322248359855],
 'person who': [174, 39, 135, 2.985, 0.08406362850006448],
 'this national': [173, 45, 128, 0.452, 0.5014246115706675],
 'the people': [173, 48, 125, 0.028, 0.8681702656618628],
 'these people': [172, 45, 127, 0.392, 0.531130785019553],
 'united states': [170, 60, 110, 4.08, 0.043381220881000306],
 'because it': [162, 47, 115, 0.039, 0.8436439462163273],
 'the little': [160, 47, 113, 0.089, 0.7658301885310586],
 'as president': [159, 45, 114, 0.0, 0.9972496573563552],
 'the president': [158, 47, 111, 0.16, 0.6893703546447185],
 'was called': [158, 48, 110, 0.332, 0.5644163090399545],
 'years before': [157, 41, 116, 0.374, 0.5407110404113488],
 'museum of': [156, 54, 102, 3.052, 0.08065640182072407],
 'created by': [155, 50, 105, 1.188, 0.27577692762042083],
 'african country': [155, 77, 78, 34.852, 3.5574651936970825e-09],
 'was created': [155, 42, 113, 0.113, 0.736549033169916],
 'a series': [154, 39, 115, 0.678, 0.4102446613028432],
 'during wwii': [153, 40, 113, 0.355, 0.55124591898816],
 'are called': [151, 47, 104, 0.588, 0.4431531372550861],
 'capital is': [151, 37, 114, 1.08, 0.2986035964629098],
 'his father': [150, 41, 109, 0.071, 0.7897403086362784],
 'island of': [149, 45, 104, 0.261, 0.6091388388614472],
 'this popular': [149, 33, 116, 2.791, 0.09476702791508328],
 'been called': [147, 34, 113, 1.947, 0.16290892500915288],
 'during his': [147, 41, 106, 0.013, 0.9093577867724766],
 'this english': [146, 54, 92, 5.41, 0.020026495471349128],
 'character of': [146, 55, 91, 6.298, 0.012088534831721332],
 'the family': [146, 41, 105, 0.004, 0.950383506724726],
 'the island': [145, 46, 99, 0.831, 0.3620820301614627],
 'in america': [144, 35, 109, 1.14, 0.2856435352656803],
 'president in': [142, 36, 106, 0.614, 0.4333497541636401],
 'popular in': [142, 44, 98, 0.499, 0.4797730407783516],
 'american country': [139, 58, 81, 12.319, 0.00044826240951498437],
 'south american': [139, 42, 97, 0.248, 0.6187392775899343],
 'south america': [139, 41, 98, 0.096, 0.7570392861459894],
 'of america': [138, 37, 101, 0.154, 0.6952045055015321],
 'a classic': [133, 31, 102, 1.642, 0.20004561828580508],
 'in english': [132, 37, 95, 0.005, 0.9422842989846559],
 'who played': [132, 47, 85, 3.458, 0.06295008497325455],
 'north america': [131, 41, 90, 0.574, 0.4484773111223932],
 'the german': [130, 56, 74, 13.958, 0.0001868909471723194],
 'founded by': [130, 41, 89, 0.666, 0.4145079990154764],
 'a french': [129, 53, 76, 10.366, 0.0012836478305639173],
 'most popular': [129, 25, 104, 5.073, 0.02429898759819275],
 'created the': [128, 34, 94, 0.194, 0.6600148891859141],
 'island in': [127, 48, 79, 5.624, 0.017711469421751017],
 'it became': [126, 37, 89, 0.069, 0.7934530337812409],
 'people of': [126, 40, 86, 0.731, 0.3925227340115889],
 'this person': [126, 31, 95, 0.855, 0.3551663669363633],
 'created this': [125, 45, 80, 3.638, 0.05647823001249312],
 'an american': [125, 39, 86, 0.513, 0.4739006685992583],
 'called these': [125, 43, 82, 2.281, 0.13097528603379424],
 'this number': [124, 29, 95, 1.483, 0.22329140774046569],
 'the musical': [124, 43, 81, 2.474, 0.1157690603162106],
 'italian for': [123, 51, 72, 10.478, 0.0012082227695454147],
 'she played': [122, 25, 97, 3.678, 0.05513757314518721],
 'a former': [122, 48, 74, 7.313, 0.006846876214949651],
 'for president': [121, 41, 80, 1.85, 0.17383226894781673],
 'the classic': [121, 37, 84, 0.306, 0.5803639814611594],
 '20th century': [120, 33, 87, 0.039, 0.8430667274634188],
 'country was': [119, 42, 77, 2.856, 0.09101442381572898],
 'a character': [119, 42, 77, 2.856, 0.09101442381572898],
 'a musical': [117, 40, 77, 1.989, 0.1584662848097351],
 'capital was': [114, 33, 81, 0.023, 0.8807210607068989],
 'this university': [114, 19, 95, 7.62, 0.005773541168095701],
 'people in': [113, 29, 84, 0.391, 0.5317197888181335],
 'a country': [113, 36, 77, 0.699, 0.40301090087452673],
 'people who': [113, 34, 79, 0.175, 0.6754756788314873],
 'before his': [112, 36, 76, 0.809, 0.36845776089200266],
 'university in': [112, 40, 72, 3.022, 0.08215645643673662],
 'first president': [111, 25, 86, 1.834, 0.1756084095148326],
 'became this': [111, 34, 77, 0.293, 0.5880228599467118],
 'a british': [110, 38, 72, 2.104, 0.14688639652942626],
 'a museum': [110, 27, 83, 0.77, 0.3802945274591921],
 'tv series': [108, 25, 83, 1.42, 0.23339482670026795],
 'through this': [108, 19, 89, 6.117, 0.013392214832321381],
 'president was': [108, 31, 77, 0.008, 0.9284091097753046],
 'president to': [106, 21, 85, 3.776, 0.052001264622414264],
 '18th century': [106, 41, 65, 5.611, 0.017851980931204596],
 'adjective meaning': [106, 51, 55, 20.472, 6.051766490150646e-06],
 'school in': [104, 32, 72, 0.309, 0.5784037087904045],
 'the italian': [103, 40, 63, 5.617, 0.017788561617464053],
 'is famous': [103, 23, 80, 1.817, 0.17764915417151728],
 'world series': [101, 17, 84, 6.561, 0.010424815590991426]}

We make a dict with popular phrases, their frequencies and chi-sqare and p-values. Now let's transform them to dataset for more convinient considering.

In [65]:
# make a dataframe from dict and transpose in
popular_phrases_df = pd.DataFrame(popular_phrases, index=['Total Frequency', 'High Value Freq', 'Low Value Freq', 'Chi-Square', 'P-value'])
popular_phrases_df = popular_phrases_df.transpose()

# function for rounding values in dataframe
def round_value(value):
    return round(value, 5)

popular_phrases_df['P-value'] = popular_phrases_df['P-value'].apply(round_value)
popular_phrases_df

,Total Frequency,High Value Freq,Low Value Freq,Chi-Square,P-value
this country,2663.0,701.0,1962.0,5.198,0.02261
became the,1153.0,314.0,839.0,0.664,0.41526
called the,755.0,228.0,527.0,1.321,0.25042
called this,706.0,262.0,444.0,26.913,0.00000
during the,668.0,181.0,487.0,0.489,0.48457
...,...,...,...,...,...
adjective meaning,106.0,51.0,55.0,20.472,0.00001
school in,104.0,32.0,72.0,0.309,0.57840
the italian,103.0,40.0,63.0,5.617,0.01779
is famous,103.0,23.0,80.0,1.817,0.17765
world series,101.0,17.0,84.0,6.561,0.01042

Let's also select only values which Chi-Square value is significally more than P-value and percent of high value questions is significally high (more than 1/3 of Low Value Questions number).

In [79]:
pd.options.display.max_rows=1000
popular_phrases_df.loc[(popular_phrases_df['Chi-Square'] > 2*popular_phrases_df['P-value']) & 
                       (popular_phrases_df['High Value Freq'] > 0.33*popular_phrases_df['High Value Freq'])]

,Total Frequency,High Value Freq,Low Value Freq,Chi-Square,P-value
this country,2663.0,701.0,1962.0,5.198,0.02261
called the,755.0,228.0,527.0,1.321,0.25042
called this,706.0,262.0,444.0,26.913,0.00000
capital of,618.0,213.0,405.0,11.523,0.00069
the largest,587.0,142.0,445.0,4.917,0.02659
this capital,577.0,147.0,430.0,2.289,0.13030
this countrys,546.0,117.0,429.0,12.754,0.00036
also called,544.0,178.0,366.0,5.204,0.02254
this company,533.0,124.0,409.0,6.696,0.00966
number of,507.0,92.0,415.0,25.826,0.00000
reports from,487.0,216.0,271.0,61.723,0.00000
crew reports,477.0,209.0,268.0,56.470,0.00000
title character,471.0,163.0,308.0,9.190,0.00243
is called,459.0,144.0,315.0,2.115,0.14584
this author,455.0,184.0,271.0,32.958,0.00000
the french,451.0,158.0,293.0,10.031,0.00154
a famous,405.0,138.0,267.0,6.620,0.01009
this island,399.0,134.0,265.0,5.459,0.01947
this famous,393.0,100.0,293.0,1.594,0.20681
a little,373.0,92.0,281.0,2.447,0.11772
the capital,372.0,124.0,248.0,4.617,0.03166
called a,363.0,113.0,250.0,1.417,0.23382
this states,359.0,82.0,277.0,5.298,0.02135
he became,342.0,115.0,227.0,4.754,0.02924
founded in,339.0,107.0,232.0,1.763,0.18422
french for,336.0,125.0,211.0,13.078,0.00030
this former,335.0,81.0,254.0,2.822,0.09297
author of,325.0,137.0,188.0,30.669,0.00000
this british,317.0,128.0,189.0,22.732,0.00000
university of,309.0,96.0,213.0,1.154,0.28262
this classic,307.0,80.0,227.0,0.770,0.38037
this president,305.0,68.0,237.0,5.444,0.01963
national park,297.0,95.0,202.0,1.973,0.16009
around the,296.0,77.0,219.0,0.772,0.37962
this french,292.0,127.0,165.0,33.146,0.00000
a person,292.0,61.0,231.0,7.929,0.00487
this american,291.0,101.0,190.0,5.861,0.01548
he played,282.0,69.0,213.0,2.055,0.15169
most famous,279.0,70.0,209.0,1.429,0.23188
played this,277.0,71.0,206.0,0.982,0.32171
this character,273.0,50.0,223.0,13.448,0.00025
19th century,271.0,112.0,159.0,22.613,0.00000
through the,269.0,92.0,177.0,4.592,0.03211
during this,263.0,65.0,198.0,1.679,0.19510
father of,258.0,92.0,166.0,6.857,0.00883
us president,249.0,59.0,190.0,2.618,0.10567
include the,249.0,60.0,189.0,2.182,0.13960
between the,247.0,80.0,167.0,2.020,0.15522
a popular,246.0,57.0,189.0,3.206,0.07335
played the,246.0,58.0,188.0,2.720,0.09913
word meaning,244.0,99.0,145.0,18.068,0.00002
the number,213.0,40.0,173.0,9.540,0.00201
this largest,213.0,53.0,160.0,1.236,0.26629
state capital,209.0,51.0,158.0,1.576,0.20933
this italian,207.0,94.0,113.0,29.809,0.00000
this series,204.0,44.0,160.0,4.573,0.03247
meaning to,203.0,75.0,128.0,7.451,0.00634
this german,203.0,89.0,114.0,24.116,0.00000
character in,202.0,69.0,133.0,3.399,0.06523
the father,200.0,70.0,130.0,4.405,0.03584
worlds largest,190.0,43.0,147.0,3.023,0.08210
was founded,190.0,61.0,129.0,1.345,0.24609
during a,188.0,66.0,122.0,4.273,0.03872
leader of,182.0,70.0,112.0,9.233,0.00238
the famous,181.0,60.0,121.0,2.085,0.14879
the english,178.0,56.0,122.0,0.868,0.35145
a national,176.0,60.0,116.0,2.894,0.08893
person who,174.0,39.0,135.0,2.985,0.08406
united states,170.0,60.0,110.0,4.080,0.04338
museum of,156.0,54.0,102.0,3.052,0.08066
created by,155.0,50.0,105.0,1.188,0.27578
african country,155.0,77.0,78.0,34.852,0.00000
capital is,151.0,37.0,114.0,1.080,0.29860
this popular,149.0,33.0,116.0,2.791,0.09477
been called,147.0,34.0,113.0,1.947,0.16291
this english,146.0,54.0,92.0,5.410,0.02003
character of,146.0,55.0,91.0,6.298,0.01209
the island,145.0,46.0,99.0,0.831,0.36208
in america,144.0,35.0,109.0,1.140,0.28564
american country,139.0,58.0,81.0,12.319,0.00045
a classic,133.0,31.0,102.0,1.642,0.20005
who played,132.0,47.0,85.0,3.458,0.06295
the german,130.0,56.0,74.0,13.958,0.00019
a french,129.0,53.0,76.0,10.366,0.00128
most popular,129.0,25.0,104.0,5.073,0.02430
island in,127.0,48.0,79.0,5.624,0.01771
this person,126.0,31.0,95.0,0.855,0.35517
created this,125.0,45.0,80.0,3.638,0.05648
called these,125.0,43.0,82.0,2.281,0.13098
this number,124.0,29.0,95.0,1.483,0.22329
the musical,124.0,43.0,81.0,2.474,0.11577
italian for,123.0,51.0,72.0,10.478,0.00121
she played,122.0,25.0,97.0,3.678,0.05514
a former,122.0,48.0,74.0,7.313,0.00685
for president,121.0,41.0,80.0,1.850,0.17383
country was,119.0,42.0,77.0,2.856,0.09101
a character,119.0,42.0,77.0,2.856,0.09101
a musical,117.0,40.0,77.0,1.989,0.15847
this university,114.0,19.0,95.0,7.620,0.00577
before his,112.0,36.0,76.0,0.809,0.36846
university in,112.0,40.0,72.0,3.022,0.08216
first president,111.0,25.0,86.0,1.834,0.17561
a british,110.0,38.0,72.0,2.104,0.14689
a museum,110.0,27.0,83.0,0.770,0.38029
tv series,108.0,25.0,83.0,1.420,0.23339
through this,108.0,19.0,89.0,6.117,0.01339
president to,106.0,21.0,85.0,3.776,0.05200
18th century,106.0,41.0,65.0,5.611,0.01785
adjective meaning,106.0,51.0,55.0,20.472,0.00001
the italian,103.0,40.0,63.0,5.617,0.01779
is famous,103.0,23.0,80.0,1.817,0.17765
world series,101.0,17.0,84.0,6.561,0.01042

As we can see, the most popular phrases in high value questions are related to countries, capitals, geography, education, literature, history, names of famous historical and modern persons and things. A lot of phrases are related to USA. 

# Conclusion

If you want to win Jeopardy, you shouldn't hope to win buy luck or find an answer in question - the probability of that is extremly low. You have to study, especially things related to countries, capitals, geography, education, literature, history, names of famous historical and modern persons and things. You also have to know very well history, geography, presidents and another famous persons of USA, because a lot of question in Jeopardy a related to this country.